*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.App{
    height: 100%;
}

.main{
    height: 100%;

}
.slider{
    height: 100vh;
     
}
.cardslider{
 height: 100%;
 display: flex;
 flex-direction: row;
}

.imgmain{
    display: flex;
    width: 100%;
    height: 100%;
}
.imgcard{
    display: flex;
    width: 100%;
    height: 100%;
}
.imgmain2{
    display: none;
}
.rentg1{
    height: 180px;
    width: 100%;
    background-color: #232323;

}
.rentg{
    height: 90px;
    width: 100%;
    background-color: #232323;
}

